@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alonecuzzo\/projects\/10k-landing-page\/scss\/style\.scss}line{font-family:\000033}}
body {
  overflow-y: hidden;
  height: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alonecuzzo\/projects\/10k-landing-page\/scss\/style\.scss}line{font-family:\000038}}
#main {
  background: #F7F7F7;
  height: 100%;
  overflow: hidden;
  background-image: url("/img/background-stopwatch.png");
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alonecuzzo\/projects\/10k-landing-page\/scss\/style\.scss}line{font-family:\0000314}}
#main #sidebar {
  position: absolute;
  width: 420px;
  height: 100%;
  background-image: url("/img/sidebar-bkgrnd.jpg");
  text-align: center;
  margin: 0;
  -moz-box-shadow: 3px 0px 5px #cccccc;
  -webkit-box-shadow: 3px 0px 5px #cccccc;
  box-shadow: 3px 0px 5px #cccccc;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alonecuzzo\/projects\/10k-landing-page\/scss\/style\.scss}line{font-family:\0000325}}
#main #sidebar #email-capture {
  margin-top: 30px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alonecuzzo\/projects\/10k-landing-page\/scss\/style\.scss}line{font-family:\0000328}}
#main #sidebar #email-capture input {
  width: 200px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alonecuzzo\/projects\/10k-landing-page\/scss\/style\.scss}line{font-family:\0000332}}
#main #sidebar #email-capture button {
  color: #666;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alonecuzzo\/projects\/10k-landing-page\/scss\/style\.scss}line{font-family:\0000337}}
#main #sidebar #tagline {
  color: #255885;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 13px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alonecuzzo\/projects\/10k-landing-page\/scss\/style\.scss}line{font-family:\0000344}}
#main #sidebar #sidebar-logo {
  background-image: url("/img/sidebar-logo.png");
  background-repeat: no-repeat;
  width: 208px;
  height: 123px;
  margin-top: 50px;
  margin-left: 98px;
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alonecuzzo\/projects\/10k-landing-page\/scss\/style\.scss}line{font-family:\0000354}}
#main #sidebar nav {
  border-top: 1px solid white;
  bottom: 0;
  position: absolute;
  z-index: 2000;
  width: 380px;
  background: #FFFFFF;
  padding: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alonecuzzo\/projects\/10k-landing-page\/scss\/style\.scss}line{font-family:\0000364}}
#main #sidebar .nav-content a {
  color: #999999;
  text-transform: uppercase;
  font-size: 12px;
  margin-left: 14px;
  margin-right: 14px;
  text-decoration: none;
  letter-spacing: 2px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alonecuzzo\/projects\/10k-landing-page\/scss\/style\.scss}line{font-family:\0000375}}
#main #iphone {
  background-image: url("/img/iphone.png");
  background-repeat: no-repeat;
  margin-top: 70px;
  margin-left: 600px;
  width: 380px;
  height: 743px;
}
