$site-grey: #b3b3b3;
$site-dark-blue: #255885;
$site-dark-blue-copy: #012e4c;
$site-light-green: #559628;
$site-dark-green: #264f0a;
$site-light-blue: #36aaf2;
$site-mid-blue: #0d6199;


body, html {
	/*overflow: hidden;*/
	overflow-x: hidden;
	height: 100%;
	background: $site-light-blue;
}


#main {
	height: 100%;
	/*overflow: hidden;*/
	
	#phone-logo-section {
		width: 1000px;

		#phones-image {
		}

		#logo {
			background-image: url('/img/logo.png');
			background-repeat: no-repeat;
			width: 320px;
			height: 176px;
			margin-top: -580px;
			margin-left: 470px;
		}

		#tagline {
			font-size: 32px;
			letter-spacing: 2px;
			color: #f7f7f7;
			margin-left: 500px;
			margin-top: 10px;
		}

		#description {
			width: 540px;
			margin-left: 500px;
			margin-top: 20px;
			color: #f7f7f7;
			letter-spacing: 1px;
		}

		#app-store-icon {
			background-image: url('/img/app-store-icon.png');
			background-repeat: no-repeat;
			width: 219px;
			height: 72px;
			margin-left: 500px;	
			margin-top: 20px;
		}

		#google-play-icon {
			background-image: url('/img/google-play-icon.png');
			background-repeat: no-repeat;
			width: 320px;
			height: 176px;	
			margin-left: 740px;
			margin-top: -72px;
		}

		.user-story {
			background-color: #000;
			width: 200px;
			height: 100px;
			color: #FFF;
		}

		#meet-karla {
			margin-left: 500px;	
			margin-top: -80px;
		}

		#meet-sam {
			margin-top: -100px;
			margin-left: 720px;
		}
	}

	#benefits-section-holder {
		margin-top: 20px;
		background: #F7F7F7;
		height: 1500px;
		width: 100%;
		padding-left: 100px;

		.benefits-section {
			padding-top: 120px;
			/*padding-bottom: 100px;*/
		}

		.benefit-description {
			padding-top: 20px;
			width: 500px;
			font-size: 16px;
		}

		.benefit-header {
			font-weight: bold;
			font-size: 24px;
			color: $site-light-blue;
		}

		.benefit-blurb-right {
			margin-left: 600px;
			margin-top: -150px;
		}

		.benefit-photo-right {
			margin-left: 610px;
			margin-top: -150px;
		}

		#benefits-section-3 {
			padding-top: 240px;
		}
	}
}