$site-grey: #999999;

body {
	overflow-y: hidden;
	height: 100%;
}

#main {
	background: #F7F7F7;
	height: 100%;
	overflow: hidden;

	#sidebar {
		position: absolute;
		width: 420px;
		height: 100%;
		background-image: url('/img/sidebar-bkgrnd.jpg');
		text-align: center;
		margin: 0;
		-moz-box-shadow: 3px 0px 5px #CCC;
		-webkit-box-shadow: 3px 0px 5px #CCC;
		box-shadow: 3px 0px 5px #CCC;

			#sidebar-logo {
				background-image: url('/img/sidebar-logo.png');
				background-repeat: no-repeat;
				width: 208px;
				height: 123px;
				margin-top: 50px;
				margin-left: 98px;
				position: relative;
			}

			nav {
				border-top: 1px solid #FFFFFF;
				bottom: 0;
				position: absolute;
				z-index: 2000;
				width: 380px;
				background: #FFFFFF;
				padding: 20px;
			}

			.nav-content a{
				color: $site-grey;
				text-transform: uppercase;
				font-size: 12px;
				margin-left: 14px;
				margin-right: 14px;
				text-decoration: none;
				letter-spacing: 2px;
			}
	}

	#iphone {
		background-image: url('/img/iphone.png');
		background-repeat: no-repeat;
		margin-top: 70px;
		margin-left: 600px;
		width: 380px;
		height: 743px;
	}
}