@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alonecuzzo\/projects\/10k-landing-page\/scss\/style\.scss}line{font-family:\0000310}}
body, html {
  /*overflow: hidden;*/
  overflow-x: hidden;
  height: 100%;
  background: #36aaf2;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alonecuzzo\/projects\/10k-landing-page\/scss\/style\.scss}line{font-family:\0000318}}
#main {
  height: 100%;
  /*overflow: hidden;*/
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alonecuzzo\/projects\/10k-landing-page\/scss\/style\.scss}line{font-family:\0000322}}
#main #phone-logo-section {
  width: 1000px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alonecuzzo\/projects\/10k-landing-page\/scss\/style\.scss}line{font-family:\0000328}}
#main #phone-logo-section #logo {
  background-image: url("/img/logo.png");
  background-repeat: no-repeat;
  width: 320px;
  height: 176px;
  margin-top: -580px;
  margin-left: 470px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alonecuzzo\/projects\/10k-landing-page\/scss\/style\.scss}line{font-family:\0000337}}
#main #phone-logo-section #tagline {
  font-size: 32px;
  letter-spacing: 2px;
  color: #f7f7f7;
  margin-left: 500px;
  margin-top: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alonecuzzo\/projects\/10k-landing-page\/scss\/style\.scss}line{font-family:\0000345}}
#main #phone-logo-section #description {
  width: 540px;
  margin-left: 500px;
  margin-top: 20px;
  color: #f7f7f7;
  letter-spacing: 1px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alonecuzzo\/projects\/10k-landing-page\/scss\/style\.scss}line{font-family:\0000353}}
#main #phone-logo-section #app-store-icon {
  background-image: url("/img/app-store-icon.png");
  background-repeat: no-repeat;
  width: 219px;
  height: 72px;
  margin-left: 500px;
  margin-top: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alonecuzzo\/projects\/10k-landing-page\/scss\/style\.scss}line{font-family:\0000362}}
#main #phone-logo-section #google-play-icon {
  background-image: url("/img/google-play-icon.png");
  background-repeat: no-repeat;
  width: 320px;
  height: 176px;
  margin-left: 740px;
  margin-top: -72px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alonecuzzo\/projects\/10k-landing-page\/scss\/style\.scss}line{font-family:\0000371}}
#main #phone-logo-section .user-story {
  background-color: #000;
  width: 200px;
  height: 100px;
  color: #FFF;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alonecuzzo\/projects\/10k-landing-page\/scss\/style\.scss}line{font-family:\0000378}}
#main #phone-logo-section #meet-karla {
  margin-left: 500px;
  margin-top: -80px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alonecuzzo\/projects\/10k-landing-page\/scss\/style\.scss}line{font-family:\0000383}}
#main #phone-logo-section #meet-sam {
  margin-top: -100px;
  margin-left: 720px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alonecuzzo\/projects\/10k-landing-page\/scss\/style\.scss}line{font-family:\0000389}}
#main #benefits-section-holder {
  margin-top: 20px;
  background: #F7F7F7;
  height: 1500px;
  width: 100%;
  padding-left: 100px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alonecuzzo\/projects\/10k-landing-page\/scss\/style\.scss}line{font-family:\0000396}}
#main #benefits-section-holder .benefits-section {
  padding-top: 120px;
  /*padding-bottom: 100px;*/
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alonecuzzo\/projects\/10k-landing-page\/scss\/style\.scss}line{font-family:\00003101}}
#main #benefits-section-holder .benefit-description {
  padding-top: 20px;
  width: 500px;
  font-size: 16px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alonecuzzo\/projects\/10k-landing-page\/scss\/style\.scss}line{font-family:\00003107}}
#main #benefits-section-holder .benefit-header {
  font-weight: bold;
  font-size: 24px;
  color: #36aaf2;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alonecuzzo\/projects\/10k-landing-page\/scss\/style\.scss}line{font-family:\00003113}}
#main #benefits-section-holder .benefit-blurb-right {
  margin-left: 600px;
  margin-top: -150px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alonecuzzo\/projects\/10k-landing-page\/scss\/style\.scss}line{font-family:\00003118}}
#main #benefits-section-holder .benefit-photo-right {
  margin-left: 610px;
  margin-top: -150px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alonecuzzo\/projects\/10k-landing-page\/scss\/style\.scss}line{font-family:\00003123}}
#main #benefits-section-holder #benefits-section-3 {
  padding-top: 240px;
}
