@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alonecuzzo\/projects\/10k-landing-page\/scss\/style\.scss}line{font-family:\0000310}}
body, html {
  /*overflow: hidden;*/
  overflow-x: hidden;
  height: 100%;
  background: #36aaf2;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alonecuzzo\/projects\/10k-landing-page\/scss\/style\.scss}line{font-family:\0000318}}
#main {
  height: 100%;
  /*overflow: hidden;*/
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alonecuzzo\/projects\/10k-landing-page\/scss\/style\.scss}line{font-family:\0000322}}
#main #phone-logo-section {
  width: 1000px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alonecuzzo\/projects\/10k-landing-page\/scss\/style\.scss}line{font-family:\0000328}}
#main #phone-logo-section #logo {
  background-image: url("/img/logo.png");
  background-repeat: no-repeat;
  width: 320px;
  height: 176px;
  margin-top: -580px;
  margin-left: 470px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alonecuzzo\/projects\/10k-landing-page\/scss\/style\.scss}line{font-family:\0000337}}
#main #phone-logo-section #tagline {
  font-size: 32px;
  letter-spacing: 2px;
  color: #f7f7f7;
  margin-left: 500px;
  margin-top: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alonecuzzo\/projects\/10k-landing-page\/scss\/style\.scss}line{font-family:\0000345}}
#main #phone-logo-section #description {
  width: 540px;
  margin-left: 500px;
  margin-top: 20px;
  color: #f7f7f7;
  letter-spacing: 1px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alonecuzzo\/projects\/10k-landing-page\/scss\/style\.scss}line{font-family:\0000353}}
#main #phone-logo-section #app-store-icon {
  background-image: url("/img/app-store-icon.png");
  background-repeat: no-repeat;
  width: 219px;
  height: 72px;
  margin-left: 500px;
  margin-top: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alonecuzzo\/projects\/10k-landing-page\/scss\/style\.scss}line{font-family:\0000362}}
#main #phone-logo-section #google-play-icon {
  background-image: url("/img/google-play-icon.png");
  background-repeat: no-repeat;
  width: 320px;
  height: 176px;
  margin-left: 740px;
  margin-top: -72px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alonecuzzo\/projects\/10k-landing-page\/scss\/style\.scss}line{font-family:\0000371}}
#main #phone-logo-section .user-story {
  background-color: #000;
  width: 200px;
  height: 100px;
  color: #FFF;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alonecuzzo\/projects\/10k-landing-page\/scss\/style\.scss}line{font-family:\0000378}}
#main #phone-logo-section #meet-karla {
  margin-left: 500px;
  margin-top: -80px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alonecuzzo\/projects\/10k-landing-page\/scss\/style\.scss}line{font-family:\0000383}}
#main #phone-logo-section #meet-sam {
  margin-top: -100px;
  margin-left: 720px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alonecuzzo\/projects\/10k-landing-page\/scss\/style\.scss}line{font-family:\0000389}}
#main #benefits-section-holder {
  margin-top: 100px;
  background: #F7F7F7;
  padding-bottom: 100px;
  width: 100%;
  padding-left: 100px;
  line-height: 30px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alonecuzzo\/projects\/10k-landing-page\/scss\/style\.scss}line{font-family:\0000397}}
#main #benefits-section-holder .benefits-section {
  padding-top: 120px;
  /*padding-bottom: 100px;*/
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alonecuzzo\/projects\/10k-landing-page\/scss\/style\.scss}line{font-family:\00003102}}
#main #benefits-section-holder .benefit-description {
  padding-top: 20px;
  width: 500px;
  font-size: 16px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alonecuzzo\/projects\/10k-landing-page\/scss\/style\.scss}line{font-family:\00003108}}
#main #benefits-section-holder .benefit-header {
  font-weight: bold;
  font-size: 24px;
  color: #36aaf2;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alonecuzzo\/projects\/10k-landing-page\/scss\/style\.scss}line{font-family:\00003114}}
#main #benefits-section-holder .benefit-blurb-right {
  margin-left: 600px;
  margin-top: -150px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alonecuzzo\/projects\/10k-landing-page\/scss\/style\.scss}line{font-family:\00003119}}
#main #benefits-section-holder .benefit-photo-right {
  margin-left: 610px;
  margin-top: -150px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alonecuzzo\/projects\/10k-landing-page\/scss\/style\.scss}line{font-family:\00003124}}
#main #benefits-section-holder #benefits-section-3 {
  padding-top: 240px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alonecuzzo\/projects\/10k-landing-page\/scss\/style\.scss}line{font-family:\00003129}}
#main #user-stories-section {
  /*padding-top: 100px;
  padding-bottom: 100px;*/
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alonecuzzo\/projects\/10k-landing-page\/scss\/style\.scss}line{font-family:\00003133}}
#main #user-stories-section .user-story-header {
  padding-left: 100px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alonecuzzo\/projects\/10k-landing-page\/scss\/style\.scss}line{font-family:\00003136}}
#main #user-stories-section .user-story-header .user-story-description-section {
  padding-left: 600px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alonecuzzo\/projects\/10k-landing-page\/scss\/style\.scss}line{font-family:\00003139}}
#main #user-stories-section .user-story-header .user-story-description-section .user-story-description {
  width: 500px;
  font-size: 18px;
  padding-top: 30px;
  line-height: 50px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alonecuzzo\/projects\/10k-landing-page\/scss\/style\.scss}line{font-family:\00003147}}
#main #user-stories-section .user-story-header .sam-story-description {
  padding-left: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alonecuzzo\/projects\/10k-landing-page\/scss\/style\.scss}line{font-family:\00003151}}
#main #user-stories-section .user-story-header .sam-story-photo {
  padding-left: 600px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alonecuzzo\/projects\/10k-landing-page\/scss\/style\.scss}line{font-family:\00003155}}
#main #user-stories-section .user-story-header .user-story-title-right {
  color: #36aaf2;
  font-weight: bold;
  font-size: 32px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alonecuzzo\/projects\/10k-landing-page\/scss\/style\.scss}line{font-family:\00003162}}
#main #user-stories-section .user-story-section-story-left {
  padding-left: 100px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alonecuzzo\/projects\/10k-landing-page\/scss\/style\.scss}line{font-family:\00003167}}
#main #sam-section {
  background: #F7F7F7;
  padding-top: 150px;
  padding-bottom: 150px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alonecuzzo\/projects\/10k-landing-page\/scss\/style\.scss}line{font-family:\00003172}}
#main #sam-section .user-story-header {
  padding-bottom: 150px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alonecuzzo\/projects\/10k-landing-page\/scss\/style\.scss}line{font-family:\00003177}}
#main #karla-section {
  background: #FFF;
  padding-top: 150px;
  padding-bottom: 70px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alonecuzzo\/projects\/10k-landing-page\/scss\/style\.scss}line{font-family:\00003183}}
#main .user-story-section {
  margin-bottom: 100px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alonecuzzo\/projects\/10k-landing-page\/scss\/style\.scss}line{font-family:\00003187}}
#main .user-story-header-photo-left {
  margin-top: -330px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alonecuzzo\/projects\/10k-landing-page\/scss\/style\.scss}line{font-family:\00003191}}
#main .user-story-section-story-left {
  font-size: 18px;
  padding-top: 100px;
  line-height: 50px;
  width: 500px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alonecuzzo\/projects\/10k-landing-page\/scss\/style\.scss}line{font-family:\00003198}}
#main .user-story-section-photo-right {
  margin-left: 700px;
  margin-top: -180px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alonecuzzo\/projects\/10k-landing-page\/scss\/style\.scss}line{font-family:\00003203}}
#main .user-story-section-story-right {
  margin-left: 700px;
  margin-top: -290px;
  font-size: 18px;
  padding-top: 100px;
  line-height: 50px;
  width: 500px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alonecuzzo\/projects\/10k-landing-page\/scss\/style\.scss}line{font-family:\00003212}}
#main .user-story-section-photo-left {
  padding-left: 100px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alonecuzzo\/projects\/10k-landing-page\/scss\/style\.scss}line{font-family:\00003216}}
#main #footer {
  background: #121212;
  height: 100px;
  width: 100%;
}
