@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alonecuzzo\/projects\/10k-landing-page\/scss\/style\.scss}line{font-family:\000034}}
body {
  overflow-y: hidden;
  height: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alonecuzzo\/projects\/10k-landing-page\/scss\/style\.scss}line{font-family:\000039}}
#main {
  background: #F7F7F7;
  height: 100%;
  overflow: hidden;
  background-image: url("/img/background-stopwatch.png");
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alonecuzzo\/projects\/10k-landing-page\/scss\/style\.scss}line{font-family:\0000315}}
#main #sidebar {
  position: absolute;
  width: 420px;
  height: 100%;
  background-image: url("/img/sidebar-bkgrnd.jpg");
  text-align: center;
  margin: 0;
  -moz-box-shadow: 3px 0px 5px #cccccc;
  -webkit-box-shadow: 3px 0px 5px #cccccc;
  box-shadow: 3px 0px 5px #cccccc;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alonecuzzo\/projects\/10k-landing-page\/scss\/style\.scss}line{font-family:\0000326}}
#main #sidebar form {
  margin-top: 35px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alonecuzzo\/projects\/10k-landing-page\/scss\/style\.scss}line{font-family:\0000330}}
#main #sidebar label {
  color: #255885;
  text-align: center;
  font-size: 16px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alonecuzzo\/projects\/10k-landing-page\/scss\/style\.scss}line{font-family:\0000336}}
#main #sidebar #email-capture {
  text-align: center;
  margin-top: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alonecuzzo\/projects\/10k-landing-page\/scss\/style\.scss}line{font-family:\0000340}}
#main #sidebar #email-capture input {
  width: 200px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alonecuzzo\/projects\/10k-landing-page\/scss\/style\.scss}line{font-family:\0000344}}
#main #sidebar #email-capture button {
  color: #666;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alonecuzzo\/projects\/10k-landing-page\/scss\/style\.scss}line{font-family:\0000349}}
#main #sidebar #blurb {
  margin-top: 20px;
  padding-left: 5px;
  padding-right: 5px;
  color: #255885;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-left: 50px;
  margin-right: 50px;
  border-top: 1px solid #4a91b9;
  border-bottom: 1px solid #4a91b9;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alonecuzzo\/projects\/10k-landing-page\/scss\/style\.scss}line{font-family:\0000362}}
#main #sidebar #coming-soon-button {
  margin-top: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alonecuzzo\/projects\/10k-landing-page\/scss\/style\.scss}line{font-family:\0000366}}
#main #sidebar #tagline {
  color: #255885;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 13px;
  font-weight: bold;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alonecuzzo\/projects\/10k-landing-page\/scss\/style\.scss}line{font-family:\0000374}}
#main #sidebar #sidebar-logo {
  background-image: url("/img/sidebar-logo.png");
  background-repeat: no-repeat;
  width: 208px;
  height: 123px;
  margin-top: 20px;
  margin-left: 98px;
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alonecuzzo\/projects\/10k-landing-page\/scss\/style\.scss}line{font-family:\0000384}}
#main #sidebar nav {
  border-top: 1px solid white;
  bottom: 0;
  position: absolute;
  z-index: 2000;
  width: 380px;
  background: #FFFFFF;
  padding: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alonecuzzo\/projects\/10k-landing-page\/scss\/style\.scss}line{font-family:\0000394}}
#main #sidebar .nav-content a {
  color: #999999;
  text-transform: uppercase;
  font-size: 12px;
  margin-left: 14px;
  margin-right: 14px;
  text-decoration: none;
  letter-spacing: 2px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alonecuzzo\/projects\/10k-landing-page\/scss\/style\.scss}line{font-family:\00003105}}
#main #iphone {
  background-image: url("/img/iphone.png");
  background-repeat: no-repeat;
  margin-top: 30px;
  margin-left: 500px;
  width: 320px;
  height: 626px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alonecuzzo\/projects\/10k-landing-page\/scss\/style\.scss}line{font-family:\00003113}}
#main #iphone .screenshot {
  margin-left: 14px;
  margin-top: 111px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alonecuzzo\/projects\/10k-landing-page\/scss\/style\.scss}line{font-family:\00003119}}
#main #slides {
  position: absolute;
  float: right;
  width: 340px;
  height: 750px;
  margin-top: -500px;
  margin-left: 900px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alonecuzzo\/projects\/10k-landing-page\/scss\/style\.scss}line{font-family:\00003127}}
#main #slides .viewport {
  list-style-type: none;
  position: absolute;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alonecuzzo\/projects\/10k-landing-page\/scss\/style\.scss}line{font-family:\00003131}}
#main #slides .viewport li {
  width: 306px;
  height: 80px;
  padding-top: 30px;
  padding-bottom: 30px;
  background: #F7F7F7;
  margin-top: 35px;
  border: 1px solid #999999;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alonecuzzo\/projects\/10k-landing-page\/scss\/style\.scss}line{font-family:\00003141}}
#main #slides .viewport #callout1, #main #slides .viewport #callout2, #main #slides .viewport #callout3 {
  opacity: .5;
}
